body {
    min-height: 2000px;
  }
  
  .navbar-static-top {
    margin-bottom: 19px;
  }

  nav {
    color: #4d4d4d !important;
  }

  nav ul li.active {
    background-color: #FFB690 !important; 

  }

  a {
    color: #4d4d4d !important;
    background-color: transparent; 
    -webkit-text-decoration-skip: 
  
  }


  .grey-text{
    color: #4d4d4d !important;
  }

  .gbackground{
    background-color: #FFEEEF !important; 
  }

  .widetopbot{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}