{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}
  Home
{% endblock %}

{% block content %}

    <div class="section" >
        <div class="container">
          <!-- <br><br> -->
          
          <!-- <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
          <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light grey">Get Started</a>
          </div>
          <br><br> -->
        </div>
      </div>



        <div class="row">

                <div class="col s12 m12 grey-text">
                      <h4 class="header"> {{ t.name }} </h4>
                      <br>





                    </div>
              </div>

{% endblock %}

{% block footer %}


{% endblock %}
