{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}
  {{ t.name }}
{% endblock %}

{% block content %}

    <div class="section" >
        <div class="container">
          <!-- <br><br> -->
          
          <!-- <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
          <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light grey">Get Started</a>
          </div>
          <br><br> -->
        </div>
      </div>


        <div class="row center">

                <div class="col s12 m12 grey-text">
                        <img src="{{ t.extra2 }}" alt="" class="img-responsive" style = "height = 250px">
                    
                      <h4 class="header"> {{ t.name }} </h4>
                      <br>
                  
                      <p>Progress: Stage 2 | Transparency Score: 8.72 | Information Score: 9.2</p>

                      
                      <p>Total Projects: 23 | Total Tokens Raised: 24000 | Red Flags: No</p>
                      <br>
                      <hr/>
                      <br>
                      <h4 class="header"> X of Y tokens raised </h4>
                      <br>
                      <div class="progress">
                          <div class="determinate" style="width: 50%"></div>
                      </div>
                      <br>
                      {% for object in step %}
                      <div class="col s4 m4 grey-text left"> 
                         <p>Phase {{ object.milestone_number  }}</p>
                         <p>{{ object.name  }}</p>
                         <p>{{ object.status  }}</p>

                      {% if object.status == "open" %}
                      <a href="{% url 'ngo' ngoID=3 %}" id="download-button" class="btn waves-effect waves-light orange">Donate Now</a>
                      {% else %}
                      
                      {% endif %}

                         <p></p>
                      </div>
                      {% endfor %}


                    </div>
              </div>

{% endblock %}

{% block footer %}


{% endblock %}
